[submodule "tests/tools/gameboy-doctor"]
	path = tests/tools/gameboy-doctor
	url = https://github.com/robert/gameboy-doctor.git
[submodule "tests/tools/gb-test-roms"]
	path = tests/tools/gb-test-roms
	url = https://github.com/retrio/gb-test-roms.git
